* {
    margin: 0;
    padding: 0;
}
.container{
    width: 45%;
    height: 480px;
    margin: 50px auto;
    padding: 7px;
    border-radius: 5px;
    background-color: grey;
    overflow: hidden;
}   
.head{
    display: flex;
}

.content {
    width: 100%;
    height: 94%;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    justify-content: center;
    justify-items: center;
}
.content h2{
    text-align: center;
}
.kode {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 45%;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.no, .tanggal{
    display: flex;
    justify-content: space-between;
}

.left input {
    width: 109px;
}
.left select{
    width: 100px;
}

.right{
    width: 45%;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.konsumen, .nama {
    display: flex;
    justify-content: space-between;
}

.right input{
    width: 109px;
}

.input{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
}

.input p{
    font-weight: bold;
}

.input select {
    width: 80px;
    padding: 2px;
}

.second input {
    width: 150px;
    padding: 2px;
}

.third input{
    width: 100px;
    padding: 2px;
}

.fourth input {
    width: 40px;
    padding: 2px;
}

.fifth input{
    width: 100px;
    padding: 2px;
}

.data {
    margin: 10px auto;
    width: 95%;
    background: white;
    height: 100px;
}

.data table{
    width: 100%;
    text-align: left;
}

.data table th {
    border: 1px solid black;
    padding: 2px;
    background: whitesmoke;
}

.currency {
    position: relative;
    width: 95%;
}
.total, .bayar, .kembali {
    position: relative;
    display: flex;
    justify-content: end;
}

.total input, .bayar input, .kembali input{
    padding: 3px;
}

.total p, .bayar p, .kembali p{
    font-weight: bold;
    margin-right: 10px;
}

.buttons{
    margin-top: 10px;
    margin-left: 119px;
}

button {
    font-weight: bold;
    width: 70px;
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    cursor: pointer;
}

